body{
	background:#0FF;
	}
.formlogin{
	widht: 250px;
	background: white;
	margin: 40px;
	padding: 30px;
}

.login{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	text-align: center;
	text-transform: uppercase;
}

label{
	font-size: 12pt;
	font-weight: bold;
}

.username{
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;
}

.password{
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;
}

.tombollogin{
	background:#930;
	color: white;
	font-weight: bold;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;

